.header{
    border-bottom: 1px solid rgb(233, 233, 232);
    width: 100%;
    font-size: 18px;
    height: 50px;
}
.link{
    margin-top: 10px;
}
 .link > a{
    text-decoration: none;
    padding: 10px;
    color: black;
    padding-top: 100px;
} 
.btn_logout{
    background-color: transparent;
    font-size: 15px;
    border: 1px solid rgb(233, 233, 232);
    border-radius: 10px;
    text-decoration: none;
    color: black;
}